#light {
  --cardBackGroundColor: #84b59f;
  --cardBoarderColor: #69a297;
  --imageBackGroundColor: #69a299;
  --nameColor: black;
  --priceColor: black;
}

#dark {
  --cardBackGroundColor: #001e45;
  --cardBoarderColor: #002d67;
  --imageBackGroundColor: #00193b;
  --nameColor: white;
  --priceColor: white;
}

.product-card {
  background-color: var(--cardBackGroundColor);
  border: 5px solid var(--cardBoarderColor);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 90%;
  max-height: 90%;
  margin: auto;
}

.product-image {
  background-color: var(--imageBackGroundColor);
  width: 300px;
  height: auto;
  display: flex;
}
.product-image:hover {
  width: 320px;
  height: auto;
  transition: width 0.3s ease-in-out;
}
.product-image img {
  height: 80%;
  flex-grow: 1;
  max-width: 80%;
  margin: auto;
}

.product-details {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}
.product-name {
  color: var(--nameColor);
  display: flex;
  flex-grow: 1;
}
.product-name:hover {
  color: rgb(154, 85, 154);
  cursor: pointer;
}

.product-price {
  color: var(--priceColor);
  align-items: flex-end;
  flex-grow: 1;
}
.product-price:hover {
  color: rgb(154, 85, 154);
  cursor: pointer;
}
